/* About Css */

.icon {
  color: #ffffff !important;
}

.btn_about:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.btn_about {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-align: center;
  color: #ffffff !important;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 15px 36px !important;
  border-radius: 40px !important;
  display: flex !important;
  align-items: center !important;
}

.btn_about_box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 50px;
}

.about_black_box_text p {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 40;
  line-height: 20px;
  color: #ffffff;
}

.about_black_box_text h1 {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 32px !important;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}

.about_stack_box {
  display: flex;
  justify-content: center;
}

.about_black_color {
  background-image: radial-gradient(#4d4d4d 100%, #323232 100%);
  padding: 32px 0px;
}

.about_social {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.about_text_box p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.about_text_box h2 {
  font-family: "Bahnschrift", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  margin: 0px;
}

.about_text_box {
  margin-top: 11%;
  padding-left: 16px;
}

.about_banner_img {
  width: 100%;
  justify-content: space-between;
  box-shadow: 15px 15px #feefd3;
  border-radius: 16px;
}

.about_back_color {
  background-color: #eea23d;
  padding: 107px 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.about {
  margin-top: 67px;
  background-color: #ffffff;
}

@media screen and (max-width:992px){
  .about_text_box {
    margin-top: 0%;
  
  }
  .about_text_box h2 {
    font-size: 40px;
  }
  .about_text_box p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1536px) and (min-width: 1440px) {
  .btn_about {
    font-size: 12px !important;
    padding: 10px 20px !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .btn_about {
    font-size: 12px !important;
    padding: 10px 20px !important;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .btn_about_box {
    display: contents !important;
    justify-content: center !important;
    margin-bottom: 10px !important;
  }

  .btn_about {
    margin-top: 10px !important;
  }
}
