.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.no-data-found p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  margin-bottom: 10px;
}

.content button {
  background-color: #274593;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.content button:hover {
  background-color: #1d3461;
}
