.application-option-icon {
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
}
.dialog-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .application-option-btn span {
    font-size: 11px !important;
  }
}
