.search_results_box {
  position: absolute;
  width: 88%;
  background: white;
  z-index: 99;
  max-height: 154px;
  overflow: auto;
  box-shadow: 1px 10px 16px #5a5959;
}
.search_results {
  padding: 5px;
  cursor: pointer;
}

.search_results:hover {
  background-color: #feefd3;
}
