/* Home Css */

.selectinput:focus {
  border: none !important;
}

.selectinput {
  background-color: #fff;

  height: 54px;
  border-radius: 10px !important;
  padding: 15px 25px 15px 25px !important;
}

.home_banner_heading_h5 {
  font-family: "Poppins", sans-serif !important;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home_banner_heading {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.rightarrow {
  margin-left: 10px;
}

.home_img_contents_h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #121212;
  opacity: 80%;
  text-align: center;
  margin: 0px;
}

.home_img_contents_p {
  font-family: "Bahnschrift", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #274593;
  line-height: 22px;
  margin-left: 30px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home_img_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

.location_select {
  background-color: "#ffffff";
  background-color: #fff !important;

  height: 54px !important;
  border-radius: 10px !important;
  padding: 8px 25px 8px 25px !important;
}

.category_select {
  background-color: "#ffffff" !important;
  background-color: #fff !important;

  height: 54px !important;
  border-radius: 10px !important;
  padding: 8px 25px 8px 25px !important;
}

.inputsearch_home {
  margin-right: 26px;
}

.input_select_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 36%;
}

.home_btn_btn {
  font-family: "Bahnschrift", sans-serif;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 22px !important;

  height: 54px;
  border-radius: 10px !important;
  background-color: #eea23d !important;
}
/* @media screen and (min-width: 992px) {
  .home_btn_btn{ width: 210px !important}
} */

.stay_text_box p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #161616;
}

.stay_text_box h2 {
  font-family: "Bahnschrift", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: #121212;
  margin: 0;
  padding: 0;
}

.stay_text_box h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #eea23d;
  margin: 0;
  padding: 0;
}

.stay_back_img {
  /* background-image: url(../../assets/images/stay_mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1090px;
  background-position: 0px 0px; */
  background: #feefd3;
  z-index: 1;
  position: relative;
}

.stay_social_icon {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.stay_box {
  background-color: #feefd3;
}

.home_testi_box_testi {
  margin-top: 18%;
  padding-left: 25px;
  padding-right: 25px;
}

.home_testi_box {
  margin: 100px 0px 0px 0px;
  padding-bottom: 100px;
}

.home_testi_img {
  width: 524px;
  height: 433px;
  border-radius: 15px;
  text-align: center;
}

.home_powerfull_p {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.home_powerfull_h3 {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}

.new_jobs p {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}

.new_jobs h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
}

.new_jobs {
  background-color: #4d4d4d;
  border-radius: 20px;
  padding: 22px 25px;
  margin-left: 20px;
  text-align: center;
  width: 200px;
}

.home_new_job_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home_powerfull_box {
  display: flex;
  align-items: center;
  background: radial-gradient(
    271.39% 713.42% at 38.46% -108.67%,
    #4d4d4d 0%,
    #323232 100%
  );
  border-radius: 24px;
  padding: 20px 20px 20px 40px;
  margin: 0px 40px 0px 40px;
  box-shadow: 0px 10px 85px rgba(0, 0, 0, 0.15);
}

.home_back {
  background-color: #f9f9f9;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 40px 0px 0px 0px;
  margin-top: 100px;
}

.see_all_jobs {
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "Bahnschrift", sans-serif !important;
  color: #eea23d;
  line-height: 22px !important;
}

.popular_job {
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: "Bahnschrift", sans-serif !important;
  color: #121212;
  line-height: 38px !important;
}

.stack_box {
  margin-top: 80px;
}

.divider_line {
  margin-top: 110px !important;
  color: #cacaca;
}


.social_img {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.first_heading {
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: "Bahnschrift", sans-serif !important;
  color: #121212;
  line-height: 38px !important;
  text-align: center;
  margin-top: 80px !important;
}

.back_img_div {
  background-image: url(../../assets/images/banner.png);
  background-size: cover;
  height: 630px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home_page {
  background-color: #fff;
}

.headding h2 {
  font-family: Bahnschrift, sans-serif !important;
  font-size: 54px;
  font-weight: 700;
  justify-content: center;
  line-height: 64px;
  color: #fff;
  margin: 0px;
}
.headding h5 {
  font-family: Poppins, sans-serif !important;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
}

.bg_corav:before {
  content: "";
  background: #fffaf1;
  width: 100%;
  left: 0px;
  bottom: 75px;
  position: absolute;
  height: 125px;
}
.appview {
  margin-top: -75px;
}
@media screen and (min-width:1440px) {
  .back_img_div{height:845px}
  
}
@media screen and (max-width: 992px) {
 
  .bg_corav:before {
    bottom: 38px;

    height: 50%;
  }
  .home_powerfull_box {
    flex-direction: column;
    margin: 0px;
    padding: 15px;
  }
  .home_powerfull_h3 {
    font-size: 26px;
    text-align: center;
  }
  .home_powerfull_p {
    text-align: center;
  }
  .home_new_job_box {
    margin-left: 0px;
  }
  header {
    display: block !important;
  }
}
@media screen and (max-width: 480px) {
  .home_new_job_box {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .appview {
    margin-top: 0px;
  }
  .new_jobs {
    margin-left: 0px;
    margin-bottom: 15px;
    width: 100%;
  }
  .headding h2 {
    font-size: 32px;
  }
  .headding h5 {
    font-size: 20px;
  }
  .category_select {
    background-color: "#ffffff" !important;
    background-color: #fff !important;

    height: 54px !important;
    border-radius: 10px !important;
    padding: 8px !important;
  }
  .location_select {
    padding: 8px !important;
  }
  .bg_corav:before {
    bottom: 30px;
    height: 100%;
  }
  .home_img_contents_p {
    white-space: nowrap;
  }
  .home_testi_box {
    padding-bottom: 0px;
  }
}
