@font-face {
  font-family: "Aptos";
  font-weight: 500;
  src: url("../../../../../../assets/fonts/aptos.ttf");
}

@font-face {
  font-family: "Aptos";
  font-weight: 800;
  src: url("../../../../../../assets/fonts/aptos-bold.ttf");
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.resume_template p {
  text-align: justify;
  font-family: "Aptos";
}

.resume_template hr {
  margin: 20px 0px;
}

.resume_template h1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Aptos";
}

.resume_template h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Aptos";
}

.resume_template .main_content h2 {
  margin-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.cv_first_div {
  display: flex;
  flex-direction: column;
}

.resume_template p {
  padding: 0;
  margin: 0;
}

.resume_template li {
  padding: 0px;
  margin: 0px;
}

.heading h1 {
  font-size: 32px;
  font-weight: 600;
  color: #121212;
  text-align: center;
  letter-spacing: 0.14px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Aptos";
}

.heading h5 {
  font-size: 16px;
  font-weight: 400;
  color: #848484;
  text-align: center;
  letter-spacing: 0.14px;
  margin-top: 0;
  font-family: "Aptos";
}

.top_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #cacaca;
}

.top_div > .element:nth-of-type(2) {
  display: flex;
  gap: 20px;
}

.top_div > .element > div {
  display: flex;
  gap: 5px;
}

.skills_div .skills_btn {
  padding: 4px 8px;
  border-radius: 20px;
  border: 0px;
  background-color: #f0f0f0;
  gap: 20px;
  font-size: 11px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 5px;
  letter-spacing: 0.28px;
  opacity: 80%;
  margin-right: 5px;
}

.main_content > .element {
  margin-top: 20px;
}

.education_div,
.job_position,
.references_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.references_div {
  margin-bottom: 10px;
}

.references_div > div {
  display: flex;
  gap: 25px;
}

.references_div > div > a {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: underline;
  font-family: "Aptos";
}

.language_div {
  display: flex;
  align-items: center;
}

.language_div h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  color: #121212;
  opacity: 80%;
}

.language_div p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.28px;
  color: #121212;
  opacity: 80%;
  font-family: "Aptos";
}

.profile p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #121212;
}

.work_experiance h3 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.14px;
  color: #121212;
}

.work_experiance_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.work_experiance_div h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: #121212;
}

.work_experiance p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #121212;
  margin-top: 10px;
}

.work_experiance ul li {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #121212;
  margin-top: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  font-family: "Aptos";
}

.footer p {
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #121212;
  margin-top: 2px;
  margin-right: 10px;
}

.refrence h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  color: #121212;
  opacity: 80%;
}

.refrence span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.28px;
  color: #121212;
  opacity: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.page {
  flex-direction: row;
  background-color: #ffffff;
  padding: 30px;
}

.section {
  margin: 10px;
  padding: 10px 0px;
  flex-grow: 1;
}

@media print {
  footer {
    page-break-after: always;
  }
}
