/* scroll css */

.scroll_tabs_btn .scroll_tab_tab {
  font-size: 15px !important;
  margin-right: 10px;
  color: #cacaca !important;
  border-radius: 50px !important;
  border: 1px solid #cacaca !important;
  font-family: "Poppins", sans-serif !important;
}

.scroll_tabs {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.scroll_tabs_btn .active_color {
  font-size: 15px !important;
  margin-right: 10px;
  background-color: #feefd3 !important;
  color: orange !important;
  border-color: orange !important;
  font-family: "Poppins", sans-serif !important;
}

.about_content_heading_2 {
  display: none;
}

@media screen and (max-width: 992px) {
  .about_content_heading_2 {
    display: block;
    font-size: 32px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 480px) {
  .scroll_tabs_btn .active_color {
    font-size: 13px !important;
  }
  .scroll_tabs_btn .scroll_tab_tab {
    font-size: 13px !important;
  }

  .about_content_heading_2 {
    display: block;
    font-size: 22px;
    margin-bottom: 16px;
  }
}
