/* select input */

.selectinput:focus {
  border: none !important;
}

.selectinput {
  background-color: #fff;
  width: 324px;
  height: 54px;
  border-radius: 10px !important;
  padding: 15px 25px 15px 25px !important;
}

@media screen and (max-width: 1440px) {
  .selectinput {
    width: 300px;
  }
}
