/* vertical slider css */

.home_testi_img {
  width: 523px;
  height: 433px;
}

.testi_h5_span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #121212;
}

.testi_h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #121212;
}

.testi_p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  text-align: justify;
  opacity: 0.7;
}

.testi_heading {
  font-family: "Bahnschrift", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #121212;
}

.home_testi_box_testi {
  margin-top: 18%;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 992px) {
  .home_testi_img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .home_testi_img {
    width: auto;
    height: auto;
  }
  .testi_heading {
    font-size: 24px;
  }
}
