/* home_section css */

.home_section_grid {
  border-right: 1px solid #47464675;
}

.home_section_text_p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #121212;
  text-align: justify;
  opacity: 0.7;
}

.home_section_text_h3 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Bahnschrift", sans-serif;
  line-height: 34px;
  color: #121212;
}

.home_section_text_box {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-left: 141px;
  padding-right: 141px;
}

.home_section_img_box {
  text-align: center;
  margin-top: 139px;
}

.home_section_box {
  margin-top: 50px;
}
.home_section_img_box {

  padding: 0px 100px 0px 0px;
  margin-top: 0px;
 }
 .home_section_img_box img{width:100%;}
 .homeheadding{
  font-family: 'Bahnschrift';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */

text-align: left;
text-transform: uppercase;

/* Black #121212 */

color: #121212;
margin: 0px;
opacity: 0.12;
padding: 0px 33px;
}

@media screen and (max-width: 992px) {
  .home_section_text_box {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home_section_img_box {

   padding: 0px 15px;
   margin-top: 0px;
  }
  .home_section_grid {
    border-right:0px;
  }
  .homeheadding{text-align: center; padding: 5px 0px 0px; }
  .home_section_text_h3{margin-top: 0px;}
  
}
