.phone_number input {
  border: 0;
  background: transparent;
  outline: none;
}

.phone_number {
  height: 45px !important;
  border-radius: 5px !important;
  background-color: #f9f9f9 !important;
}
