.date_input .MuiInputBase-root.MuiOutlinedInput-root {
  border-radius: 30px !important;
  padding: 2px 20px 2px 2px !important;
  height: 44px;
  width: 163px;
}
.date_input label {
  top: -4px;
}
.drop_menu .MuiTabPanel-root {
  padding: 24px 24px 0px 24px !important;
}
.drop_menu .MuiButtonBase-root.MuiMenuItem-root:hover {
  background-color: #fff !important;
}
.content_notifi .MuiTabs-indicator {
  display: none !important;
}
.content_notifi .MuiTabs-flexContainer {
  display: block !important;
  justify-content: inherit !important;
}
.content_notifi .MuiButtonBase-root.MuiTab-root.Mui-selected {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  color: #eea23d !important;
  background-color: #feefd3 !important;
  border-radius: 30px !important;
  opacity: 45% !important;
}
.tab_list .MuiTabs-flexContainer {
  display: block !important;
  justify-content: inherit !important;
  margin-bottom: 15px !important;
}
.tab_list .Mui-selected {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  color: #eea23d !important;
  background-color: #feefd3 !important;
  border-radius: 30px !important;
  opacity: 45% !important;
}
.tab_list .MuiTabs-indicator {
  display: none !important;
}
/* .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
  width: 480px !important;
  left: 1180px !important;
  top: 70px !important;
} */

.homepage .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  background-color: #fff !important;
}
.MuiSelect-select .newstabs .MuiTabs.scroller {
  white-space: inherit !important;
}

.newstabs .MuiTabs-flexContainer {
  display: contents !important;
  justify-content: center !important;
}

.newstabs .MuiButtonBase-root.MuiTab-root {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 34px !important;
  color: #121212 !important;
  margin-left: 60px !important;
}

.css-1gsv261 {
  border-bottom: none !important;
}

.newstabs .MuiTabs-indicator {
  height: 6px !important;
  background-color: #eea23d !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.newstabs .Mui-selected {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 34px !important;
  color: #121212 !important;
}

.scroll_tabs .MuiButtonBase-root.MuiTab-root {
  border: 1px solid grey !important;
  opacity: 70% !important;
  border-radius: 50px !important;
  padding: 10px 30px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 21px !important;
}

.scroll_tabs .MuiTabs-indicator {
  display: none !important;
}

.scroll_tabs .Mui-selected {
  background-color: #feefd3 !important;
  border: 1px solid #eea23d !important;
  border-radius: 50px !important;
  padding: 10px 30px !important;
  color: #ffa500 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 21px !important;
}

.scroll_tabs .MuiTabs-flexContainer {
  display: flex !important;
  justify-content: space-between !important;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  color: #feefd3 !important;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

/* Marque */

.verticalSlider ul.slick-dots {
  transform: rotate(90deg);
  position: relative;
  bottom: 172px;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  content: "•";
  text-align: center;
opacity: 1;
  color: #EFEFEF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important ;
  color: #274593;
}

body {
  margin: 0;
  font-family: "Bahnschrift";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

code {
  font-family: "Bahnschrift";
}
textarea {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  letter-spacing: 0.02em;

  /* Black #121212 */

  color: #121212;
}

@media screen and (max-width: 3000px) and (min-width: 2600px) {
  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 1484px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 2600px) and (min-width: 2200px) {
  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 1400px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 2200px) and (min-width: 2000px) {
  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 1280px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1536px) {
  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 1065px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 1536px) and (min-width: 1440px) {
  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 875px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .verticalSlider ul.slick-dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 220px;
    left:-20px;
  }



  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 590px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .verticalSlider ul.slick-dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 220px;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 420px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 765px) {
  .verticalSlider ul.slick-dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 220px;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 420px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 765px) {
  .verticalSlider ul.slick-dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 220px;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 420px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 765px) and (min-width: 560px) {
  .verticalSlider ul.slick-dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 220px;
  }

  .drop_menu .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation {
    width: 480px !important;
    left: 420px !important;
    top: 68px !important;
  }

  .scroll_tabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 10px !important;
  }

  .newstabs .MuiButtonBase-root.MuiTab-root {
    margin-left: 0px !important;
  }
}

img{max-width: 100%;}
@media screen and (max-width:480px){

  .verticalSlider ul.slick-dots{bottom:38em; transform:none}

}