body {
  margin: 0;
  font-family: "Bahnschrift";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

code {
  font-family: "Bahnschrift";
}
textarea {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  letter-spacing: 0.02em;

  /* Black #121212 */

  color: #121212;
}
